.chartContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: 1em;
  
    h3 {
      font-size: 1.25rem !important;
      color: #8a8a8a;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 20px;
    }
  }
  