$enable-negative-margins: true;
$bg-primary: #3f3d56;
$bg-primary-hover: #63b9ff;
$color-primary: #3f3d56;
$border-color-primary: #8a57ea;
$border-color-primary-hover: #4590ff;

@import "~bootstrap/scss/bootstrap";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "_custom";

.bg-primary {
    background-color: $bg-primary !important;
}

.text-primary {
    color: $color-primary !important;
}

.btn-primary {
    background-color: $bg-primary;
    border-color: $border-color-primary;

    &:hover {
        background-color: $bg-primary-hover;
        border-color: $border-color-primary-hover;
    }
}