.card-info {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    height: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));

    .bg-success-light {
        background-color: #d4edda;
      }
      
      .bg-danger-light {
        background-color: #f8d7da;
      }
      
      .bg-warning-light {
        background-color: #fff3cd;
      }

      .bg-info-light {
        background-color: #d1ecf1;
      }

    .title {
        font-size: 1rem;
        margin: 0;
        color: #333;
      }

    .card-info-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        border-top: 1px solid #e0e0e0;
        margin-top: 0.5em;
    }
  
        .icon-container {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
            margin-top: -1em;
    
                .icon {
                    color: #2d6a4f;
                    font-size: 1.5rem;
                }
        }
  
    .content {
        margin-left: 1rem;
        flex: 1;
    
        .count {
            font-size: 2rem;
            margin-top: 0.5em;
            font-weight: bold;
            color: #333;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
            margin-top: 0em;
        }
    
        
    }

    .card-info-footer {
        background-color: transparent;
        border: none;
        margin-top: -2rem;

        .subtitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.75rem;
            margin: 0;
            color: #555;
        }
    
        .link {
            font-size: 0.9rem;
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
            margin-top: -1.25em;
    
            &:hover {
            text-decoration: underline;
            }
        }

    }
  }
  