.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin-top: 2em;
    width: 100%;

    .content-select {
        width: 50%;
    }

    & label[role="group"] {
        font-weight: normal !important;
    }

    .input-group .btn {
        border: none;
    }
      
      input[type="text"] {
        border-radius: 0;
        border-right: none;
      }

      .btn-check:checked + .btn {
        background-color: #00c7b7;
        border-color: #0b9185;
        border-left: none;
      }


  }  
  